<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Paste</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f4f4;
            padding: 40px;
        }
        .box {
            background: #fff;
            padding: 20px;
            border-radius: 6px;
            white-space: pre-wrap;
            word-break: break-word;
        }
    </style>
</head>
<body>

<h2>Your Paste</h2>

<div class="box" th:text="${content}"></div>

</body>
</html>
